body {
    font-family: 'Poppins', sans-serif;
}

header h2 {
    color: #DD7A00;
}

h2 a {
    display: block;
    background-color: #4d5d53;
    color: #fafafa;
    padding: 0.5em;
    text-align: center;
    border-radius: 0.25em;
    font-size: 0.65em;
    /* text-align: left; */
    max-width: 15vw;
}

h2 a:hover {
    color: #fff;
}

.row {
    align-items: center;
}

.row h2 {
    text-align: center;
}

.row p {
    padding-top: 1.5em;
}

header {
    min-height: 20vh;
    padding: 4em 0;
    text-align: center;
}

.special-text {
    font-weight:bold; 
    font-size: 1.2em; 
    color: #acbda1;
}

.text-center {
    display:block; 
}